<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/admin/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/admin/css/style.css" rel="stylesheet" />
    <link href="~/Content/admin/css/style-responsive.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <!-- start: Header -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="index.html"><span>Metro</span></a>

                <!-- start: Header Menu -->
                <div class="nav-no-collapse header-nav">
                    <ul class="nav pull-right">
                        <li class="dropdown hidden-phone">
                            
                            <!-- start: User Dropdown -->
                        <li class="dropdown">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="halflings-icon white user"></i> Account
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-menu-title">
                                    <span>Account Settings</span>
                                </li>
                                <li><a href="/NguoiQuanLies/Edit"><i class="halflings-icon user"></i> Profile</a></li>
                                <li><a href="/User/Logout"><i class="halflings-icon off"></i> Logout</a></li>
                            </ul>
                        </li>
                        <!-- end: User Dropdown -->
                    </ul>
                </div>
                <!-- end: Header Menu -->

            </div>
        </div>
    </div>
    <!-- start: Header -->

    <div class="container-fluid-full">
        <div class="row-fluid">

            <!-- start: Main Menu -->
            <div id="sidebar-left" class="span2">
                <div class="nav-collapse sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked main-menu">
                        <li><a href="/Saches/Index"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Book Management</span></a></li>
                        <li><a href="/TheLoais/Index"><i class="icon-envelope"></i><span class="hidden-tablet">Category Management</span></a></li>
                        <li><a href="/TacGias/Index"><i class="icon-tasks"></i><span class="hidden-tablet"> Author Management</span></a></li>
                        <li><a href="/NguoiQuanLies/Index"><i class="icon-eye-open"></i><span class="hidden-tablet"> Managers Management</span></a></li>
                       @* <li><a href="widgets.html"><i class="icon-dashboard"></i><span class="hidden-tablet"> Widgets</span></a></li>
                        <li>
                            <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Dropdown</span><span class="label label-important"> 3 </span></a>
                            <ul>
                                <li><a class="submenu" href="submenu.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 1</span></a></li>
                                <li><a class="submenu" href="submenu2.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 2</span></a></li>
                                <li><a class="submenu" href="submenu3.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 3</span></a></li>
                            </ul>
                        </li>
                        <li><a href="form.html"><i class="icon-edit"></i><span class="hidden-tablet"> Forms</span></a></li>
                        <li><a href="chart.html"><i class="icon-list-alt"></i><span class="hidden-tablet"> Charts</span></a></li>
                        <li><a href="typography.html"><i class="icon-font"></i><span class="hidden-tablet"> Typography</span></a></li>
                        <li><a href="gallery.html"><i class="icon-picture"></i><span class="hidden-tablet"> Gallery</span></a></li>
                        <li><a href="table.html"><i class="icon-align-justify"></i><span class="hidden-tablet"> Tables</span></a></li>
                        <li><a href="calendar.html"><i class="icon-calendar"></i><span class="hidden-tablet"> Calendar</span></a></li>
                        <li><a href="file-manager.html"><i class="icon-folder-open"></i><span class="hidden-tablet"> File Manager</span></a></li>
                        <li><a href="icon.html"><i class="icon-star"></i><span class="hidden-tablet"> Icons</span></a></li>
                        <li><a href="login.html"><i class="icon-lock"></i><span class="hidden-tablet"> Login Page</span></a></li>*@
                    </ul>
                </div>
            </div>
            <!-- end: Main Menu -->
            <!-- start: Content -->
            <div id="content" class="span10">


                @RenderBody()


            </div><!--/.fluid-container-->
            <!-- end: Content -->
        </div><!--/#content.span10-->
    </div><!--/fluid-row-->

    <div class="modal hide fade" id="myModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Settings</h3>
        </div>
        <div class="modal-body">
            <p>Here settings can be configured...</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary">Save changes</a>
        </div>
    </div>

    <div class="clearfix"></div>

    <footer>

        <p>

        </p>

    </footer>

    <!-- start: JavaScript-->

    <script src="~/Content/admin/js/jquery-1.9.1.min.js"></script>
    <script src="~/Content/admin/js/jquery-migrate-1.0.0.min.js"></script>

    <script src="~/Content/admin/js/jquery-ui-1.10.0.custom.min.js"></script>

    <script src="~/Content/admin/js/jquery.ui.touch-punch.js"></script>

    <script src="~/Content/admin/js/modernizr.js"></script>

    <script src="~/Content/admin/js/bootstrap.min.js"></script>

    <script src="js/jquery.cookie.js"></script>

    <script src='~/Content/admin/js/fullcalendar.min.js'></script>

    <script src='~/Content/admin/js/jquery.dataTables.min.js'></script>

    <script src="~/Content/admin/js/excanvas.js"></script>
    <script src="~/Content/admin/js/jquery.flot.js"></script>
    <script src="~/Content/admin/js/jquery.flot.pie.js"></script>
    <script src="~/Content/admin/js/jquery.flot.stack.js"></script>
    <script src="~/Content/admin/js/jquery.flot.resize.min.js"></script>

    <script src="~/Content/admin/js/jquery.chosen.min.js"></script>

    <script src="~/Content/admin/js/jquery.uniform.min.js"></script>

    <script src="~/Content/admin/js/jquery.cleditor.min.js"></script>

    <script src="~/Content/admin/js/jquery.noty.js"></script>

    <script src="~/Content/admin/js/jquery.elfinder.min.js"></script>

    <script src="~/Content/admin/js/jquery.raty.min.js"></script>

    <script src="~/Content/admin/js/jquery.iphone.toggle.js"></script>

    <script src="~/Content/admin/js/jquery.uploadify-3.1.min.js"></script>

    <script src="~/Content/admin/js/jquery.gritter.min.js"></script>

    <script src="~/Content/admin/js/jquery.imagesloaded.js"></script>

    <script src="~/Content/admin/js/jquery.masonry.min.js"></script>

    <script src="~/Content/admin/js/jquery.knob.modified.js"></script>

    <script src="~/Content/admin/js/jquery.sparkline.min.js"></script>

    <script src="~/Content/admin/js/counter.js"></script>

    <script src="~/Content/admin/js/retina.js"></script>

    <script src="~/Content/admin/js/custom.js"></script>
    <!-- end: JavaScript-->

</body>
</html>
